# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.cpt/
.env
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# PyTorch / Models
*.pt
*.pth
*.bin
*.model

# HuggingFace cache
.cache/
huggingface/

# Datasets
*.csv
*.json
*.txt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp